.menu{
    height: 100vh;
    width: 30%;
    position: fixed;
    top: 0;
    right: 0;
    transition: all 0.2s linear;
    display: flex; 
    z-index: 100;
}

#menuOn{
    transform: translateX(0);
}

#menuOff{
    transform: translateX(80%);
}

.settings{
    height: 100%;
    width: 20%;
}
.outer-icons{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    overflow-x: hidden;
}

.bars-icon,
.light-dark,
.setting-icon{
    width: 100%;
    display: flex;
    justify-content: center;
}

.bars-inner-icon,
.light-dark-inner-icon,
.setting-inner-icon{
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--bg111);
    border: 1px solid var(--brSetting);
    cursor: pointer;
}

.bars-inner-icon i{
    color: var(--textWhite);
    font-size: 1.1rem;
}

.light-dark-inner-icon i,
.setting-inner-icon i{
    color: var(--textWhite);
    font-size: 1.2rem;
    padding-top: 2px;
}

.fa-gear{
    animation: rotateIcon 2s linear infinite;
}

@keyframes rotateIcon {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

.settingOn{
    width: 100%;
    height: 55%;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 15px;
    flex-direction: column;
    transform: translateX(0%);
    transition: all 0.3s linear;
    opacity: 1;
}

.settingOff{
    transform: translateX(100%);
    height: 55%;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    gap: 15px;
    transition: all 0.5s linear;
    opacity: 0;
}

.set{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    cursor: pointer;
}

.set-gold{
    background-color: #B38600;
    border: 2px solid var(--textWhite);
}
.set-lightseagreen{
    background-color: lightseagreen;
    border: 2px solid var(--textWhite);
}
.set-seagreen{
    background-color: seagreen;
    border: 2px solid var(--textWhite);
}
.set-red{
    background-color: red;
    border: 2px solid var(--textWhite);
}
.set-deeppink{
    background-color: deeppink;
    border: 2px solid var(--textWhite);
}

.sidebar{
    height: 100%;
    width: 80%;
}

.inner-sidebar{
    height: 100%;
    width: 100%;
    padding: 10px 10px 10px 10px;
    overflow-y: scroll;
    backdrop-filter: blur(10px);
    background-color: var(--bg255005);
}

.navigation-sidebar{
    width: 100%;
    padding: 10px;
    display: flex;
    gap: 6px;
    justify-content: space-between;
    flex-direction: column;
}

.navigation-sidebar p,
.general-sidebar p,
.login-sidebar p,
.social-sidebar p{
    font-size: 0.8rem;
    font-weight: 600;
    color: var(--textGray);
}

.sidebar-btn-div{
    height: 45px;
    width: 100%;
    padding: 3px 3px 3px 5px;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-evenly;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s linear;
}
.sidebar-btn-div:hover{
    background-color: var(--bgSidebarbtn);
}
.sidebar-btn-div:hover .sidebar-btn{
    filter: invert(1);
}

.sidebar-btn{
    background-color: black;
    border-radius: 10px;
    height: 95%;
    width: 13%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s linear;
}

.sidebar-if-user-signout{
    width: 25%;
}

.sidebar-if-user-signout:hover{
    color: red !important;
    text-decoration: underline;
}

.sidebar-icon-home{
    background: url('../assets/home.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 22px;
    width: 22px;
    filter: invert(1);
}
.sidebar-icon-project{
    background: url('../assets/ProjectFile.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 22px;
    width: 22px;
    filter: invert(1);
}
.sidebar-icon-blog{
    background: url('../assets/blog.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 20px;
    width: 20px;
    filter: invert(1);
}
.sidebar-icon-about{
    background: url('../assets/about.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 20px;
    width: 20px;
    filter: invert(1);
}
.sidebar-icon-contact{
    background: url('../assets/contact.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 20px;
    width: 20px;
    filter: invert(1);
}
.sidebar-icon-guest{
    background: url('../assets/darkGuestbook.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 23px;
    width: 23px;
    filter: invert(1);
}
.sidebar-icon-links{
    background: url('../assets/link.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 22px;
    width: 22px;
    filter: invert(1);
}

.general-sidebar,
.login-sidebar{
    width: 100%;
    padding: 10px;
    display: flex;
    gap: 6px;
    flex-direction: column;
}
.sidebar-icon-resume{
    background: url('../assets/cv.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 24px;
    width: 24px;
    filter: invert(1);
}
.sidebar-icon-sign{
    background: url('../assets/blueUSer.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 22px;
    width: 22px;
    filter: invert(1);
}

.social-sidebar{
    width: 100%;
    padding: 10px;
    display: flex;
    gap: 6px;
    justify-content: space-between;
    flex-direction: column;
}
.sidebar-icon-github{
    background: url('../assets/GitHub.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 22px;
    width: 22px;
    filter: invert(1);
}
.sidebar-icon-linkedin{
    background: url('../assets/linkedin.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 22px;
    width: 22px;
    filter: invert(1);
}
.sidebar-icon-twitter{
    background: url('../assets/twitter.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 22px;
    width: 22px;
    filter: invert(1);
}
.sidebar-icon-mail{
    background: url('../assets/mail.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 22px;
    width: 22px;
    filter: invert(1);
}
.sidebar-icon-whatsapp{
    background: url('../assets/whatsapp.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 22px;
    width: 22px;
    filter: invert(1);
}
.sidebar-icon-instagram{
    background: url('../assets/instagram.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 22px;
    width: 22px;
    filter: invert(1);
}


.sidebar-btn-info{
    height: 95%;
    width: 87%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
.sidebar-btn-info p:nth-child(1){
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--textWhite);
}
.sidebar-btn-info p:nth-child(2){
    font-size: 0.7rem;
    font-weight: 600;
}


/**** Button Component ****/

.btn-comp button{
    background: linear-gradient( var(--textMain), #111);
    padding: 5px 15px 5px 15px;
    border-radius: 3px;
    border: 1px solid var(--textGray);
    font-size: 0.9rem;
    cursor: pointer;
    user-select: none;
    color: white;
}
.btn-comp button:active{
    transform: scale(0.9);
}


/****** Move to Button ********/

.moveTo-button button,
.backTo-button button{
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 0.95rem;
    font-weight: 600;
    cursor: pointer;
    color: var(--text25575);
    background-color: transparent;
    border: none;
    outline: none;
}

.moveTo-button button:hover .move-icon,
.backTo-button button:hover .back-icon{
    background-color: var(--bgBackbtn);
}

.move-icon{
    background-color: var(--bgMovebtn);
    height: 23px;
    width: 23px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1px;
    border: 1px solid var(--linksbtn);
}
.back-icon{
    background-color: var(--bgMovebtn);
    height: 23px;
    width: 23px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 2px;
    border: 1px solid var(--bg222);
}

.moveTo-button button .move-img{
    background: url('../assets/arrow.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 15px;
    width: 15px;
    filter: invert(1);
}
.backTo-button button .back-img{
    background: url('../assets/left-arrow.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 15px;
    width: 15px;
    filter: invert(1);
}
/******* Back to Button *******/



/******* Comment Component *******/

.comments{
    background-color: var(--bg000);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90PX
}

.comment-box{
    cursor: pointer;
    background: linear-gradient(10deg, var(--bg222),var(--bg000), var(--bg111));
    height: 80%;
    width: 40%;
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
    background-color: var(--bg111);
    border: 1px solid var(--bg222);
}

.com-head{
    display: flex;
    align-items: center;
    gap: 15px;
    height: 50%;
}

.com-name{
    color: var(--textWhite);
    font-size: 0.95rem;
    font-weight: 500;
}
.com-date{
    font-size: 0.75rem;
    font-weight: 500;
    color: var(--textGray);
    font-family: "Montserrat", sans-serif !important;
}

.com-body{
    color: var(--textWhite);
    height: 50%;
    display: flex;
    align-items: center;
    font-size: 0.95rem;
}

/******** Connection Box *********/

.non-connection{ 
    backdrop-filter: blur(0px);
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 200;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-100%);
    transition: all 0.2s linear;
}

.connection{
    backdrop-filter: blur(5px);
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 200;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(0%);
    transition: all 0.2s linear;
}

.connection-box{
    height: 70%;
    width: 50%;
    border-radius: 10px;
    background-color: var(--project111);
    user-select: none;
}
/* 
.connection-box::before{
    content: '';
    position: absolute;
    z-index: -5;
    top: -1px;
    left: -1px;
    height: 100%;
    width: 100%;
    padding: 1px;
    border-radius: 10px;
    background: repeating-conic-gradient(from var(--a),white 0% ,transparent 5% , transparent 5% , transparent 40% , white 50%);
    animation: rotateConnection 10s linear infinite;
}


@property --a
{
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}

@keyframes rotateConnection {
    0%{--a: 0deg}
    100%{--a: 360deg}
} */
/* 
 */

.connection-upper{
    display: flex;
    justify-content: center;
    height: 15%;
    width: 100%;
}

.fix-icon{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 40%;
}

.connect-box-img{
    height: 25px;
    width: 25px;
    cursor: pointer;
}

.box-icon-call{
    background: url('../assets/Roundphone-call.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 25px;
    width: 25px;
}
.box-icon-message{
    background: url('../assets/RoundChat.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 25px;
    width: 25px;
}
.box-icon-whatsapp{
    background: url('../assets/RoundWhatsapp.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 25px;
    width: 25px;
}
.box-icon-twitter{
    background: url('../assets/RoundTwitter.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 25px;
    width: 25px;
}

.connection-change{
    height: 15%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.change-btn{
    height: 55%;
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    border-radius: 10px;
    background-color: var(--bg222);
}

.change-btn>button{
    width: 50%;
    height: 100%;
    border-radius: 10px;
    cursor: pointer;
    color: var(--textGray);
    background-color: transparent;
    font-weight: 600;
    border: none;
    outline: none;
}

.true-click{
    background-color: #333 !important;
    border: 1px solid #222 !important;
    color: white !important;
}
.false-click{
    background-color: #333 !important;
    border: 1px solid #222 !important;
    color: white !important;
}

.quick{
    height: 70%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quick-divs{
    height: 85%;
    width: 90%;
}
.inner-quick-divs{
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.quick-box-img{
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quick-google{
    border: 1px solid var(--brSetting);
    height: 80%;
    width: 45%;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    border-radius: 15px;
}

.first-line-google{
    display: flex;
    align-items: center;
    gap: 10px;
    height: 45%;
    font-weight: 600;
    font-size: 0.95rem;
    padding: 15px;
    border-bottom: 1px solid var(--brSetting);
    color: var(--textWhite);
    background: linear-gradient(to right, rgba(255, 166, 0, 0.151) 10%, rgba(0, 128, 0, 0.13) 40%,transparent 95%);
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    word-break: break-all;
}

.first-line-google>p{
    font-family: "Montserrat", sans-serif !important;
}

.second-line-google{
    height: 55%;
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 1px;
    padding: 10px 15px 10px 15px;
    color: var(--text25575);
}
.second-line-google>p>span{
    color: var(--textMain);
}
.second-line-google>p>span:hover{
    text-decoration: underline;
}

.box-icon-google{
    background: url('../assets/Google.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 25px;
    width: 25px;
}
.box-icon-qemail{
    background: url('../assets/letter.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 25px;
    width: 25px;
}
.box-icon-qschedule{
    background: url('../assets/schedule.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 23px;
    width: 23px;
}

.quick-both{
    height: 80%;
    width: 45%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.quick-mail{
    height: 50%;
    width: 100%;
    border-radius: 15px;
    border: 1px solid var(--brSetting);
    cursor: pointer;
}
.quick-schedule{
    height: 50%;
    width: 100%;
    border-radius: 15px;
    border: 1px solid var(--brSetting);
    cursor: pointer;
}

.first-line-both{
    display: flex;
    align-items: center;
    height: 50%;
    gap: 10px;
    font-weight: 600;
    font-size: 0.95rem;
    padding: 0 15px 0 15px;
    border-bottom: 1px solid var(--brSetting);
    color: var(--textWhite);
}

.quick-mail>.first-line-both{
    background: linear-gradient(to right, rgba(0, 0, 255, 0.1) 40% , transparent 95%);
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}
.quick-schedule>.first-line-both{
    background: linear-gradient(to right, rgba(128, 0, 128, 0.15) 40% , transparent 95%);
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.second-line-both{
    display: flex;
    flex-direction: column;
    gap: 2px;
    height: 50%;
    font-size: 0.8rem;
    letter-spacing: 1px;
    padding: 5px 15px 5px 15px;
    color: var(--textGray);
}
.second-line-both> p:nth-child(1){
    font-weight: 600;
    color: var(--textWhite);
}
.second-line-both> p:nth-child(2){
    font-size: 0.7rem;
}


.quick-available{
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quick-available-slot{
    height: 75%;
    width: 93%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 0.8rem;
    font-weight: 500;
    border-radius: 10px;
    letter-spacing: 1px;
    /* background-color: rgba(0, 193, 77, 0.03); */
    background-color: var(--bgAvailable);
    /* color: rgba(101, 195, 137, 1); */
    color: var(--textAvailable);
    /* border: 1px solid rgba(0, 193, 77, 0.13); */
    border: 1px solid var(--brAvailable);
}

.bepper{
    height: 8px;
    width: 8px;
    border-radius: 50%;
    position: relative;
    background-color: rgba(0, 193, 77, 1);
}

.bepper::after{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    transform: scale(2);
    animation: bepper 1s linear infinite;
    background-color: rgba(0, 193, 77, 1);
}

@keyframes bepper {
    0%{
        transform: scale(1); /*1.5*/
    }
    50%{
        transform: scale(1.5); /*2*/
    }
    100%{
        transform: scale(3);
        opacity: 0;
    }
}

.connection-message{
    height: 70%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.connection-message>form{
    height: 90%;
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.first-inp{
    display: flex;
    width: 100%;
    gap: 10px;
}
.first-inp>label,
.text-label{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
label>p{
    font-size: 0.8rem;
    font-weight: 600;
    letter-spacing: 0.8px;
    color: var(--text25575);
}
label>p>span{
    letter-spacing: 0px;
    font-family: 'Courier New', Courier, monospace !important;
}
.first-inp>label>input{
    width: 100%;
    height: 35px;
}
.first-inp>label>input,
.text-label>textarea{
    font-weight: 500;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid var(--brConnection);
    outline: none;
    background-color: var(--bg222);
    color: var(--textWhite);
    font-family: "Montserrat", sans-serif !important;
}

.occurs{
    background-color: rgba(255, 0, 0, 0.1) !important;
    border: 1px solid rgba(255, 0, 0, 0.3) !important;
}

.first-inp>label>input:focus,
.text-label>textarea:focus{
    background-color: rgba(0, 193, 77, 0.1);
    border: 1px solid rgba(0, 193, 77, 0.3);
    /* background-color: rgba(255, 0, 0, 0.1); */
    /* border: 1px solid rgba(255, 0, 0, 0.3); */
}


.text-label>p{
    display: flex;
    justify-content: space-between;
}
.text-label>textarea{
    height: 120px;
}

.con-form-btn{
    height: 35px;
    width: 100%;
    border-radius: 10px;
    font-weight: 600;
    border: none;
    outline: none;
    cursor: pointer;
}


@media screen and (max-width: 768px) {

    .menu{
        width: 100%;
    }        
    .bars-inner-icon,
    .light-dark-inner-icon,
    .setting-inner-icon{
        height: 40px;
        width: 40px;
    }
    .set{
        height: 25px;
        width: 25px;
    }

    .navigation-sidebar{
        gap: 15px;
    }

    .sidebar-btn-div{
        height: 60px;
    }
    .sidebar-btn{
        width: 15%;
    }

    .comment-box{
        width: 90%;
    }

    .connection-box{
        width: 90%;
        height: 50%;
    }
    .fix-icon{
        width: 70%;
    }
    .connect-box-img{
        height: 35px;
        width: 35px;
    }
        
    .box-icon-call{
        height: 35px;
        width: 35px;
    }
    .box-icon-message{
        height: 35px;
        width: 35px;
    }
    .box-icon-whatsapp{
        height: 35px;
        width: 35px;
    }
    .box-icon-twitter{
        height: 35px;
        width: 35px;
    }
    
    .second-line-both{
        padding: 5px 10px 5px 10px;
        justify-content: center;
    }
    
    .connection-message>form{
        height: 100%;
    }

    .first-inp{
        flex-direction: column;
        gap: 10px;
    }

}

@media screen and (max-width: 480px) {
    
    .bars-inner-icon,
    .light-dark-inner-icon,
    .setting-inner-icon{
        height: 40px;
        width: 40px;
    }
    .set{
        height: 25px;
        width: 25px;
    }

    .navigation-sidebar{
        gap: 15px;
    }

    .sidebar-btn-div{
        height: 60px;
    }
    .sidebar-btn{
        width: 20%;
    }

    .comment-box{
        width: 90%;
    }

    .connection-box{
        width: 90%;
        height: 60%;
    }

    .connect-box-img{
        height: 30px;
        width: 30px;
    }
        
    .box-icon-call{
        height: 30px;
        width: 30px;
    }
    .box-icon-message{
        height: 30px;
        width: 30px;
    }
    .box-icon-whatsapp{
        height: 30px;
        width: 30px;
    }
    .box-icon-twitter{
        height: 30px;
        width: 30px;
    }

    .first-line-google{
        font-size: 0.7rem;
    }

    .second-line-google{
        font-size: 0.65rem;
        line-height: normal;
        padding: 10px 10px 5px 10px;
    }

    .second-line-both{
        padding: 5px 10px 5px 10px;
        font-size: 0.65rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .second-line-both> p:nth-child(2){
        display: none;
    }

    .quick-available-slot{
        font-size: 0.65rem;
    }

    .connection-message>form{
        height: 100%;
    }

    .first-inp>label>input,
    .text-label>textarea{
        font-size: 0.7rem;
    }

    .text-label>textarea{
        height: 100px;
    }

    .first-inp{
        flex-direction: column;
        gap: 5px;
    }

}